<nav class="navbar navbar-light fixed-top bg-light border-bottom">
  <div class="container-fluid">
    <img [src]="urlLogo" />
    <div class="d-flex d-inline">
      <button *ngIf="backNavigation" (click)="backNebula()" class="btn btn-sm btn-primary me-2">{{ 'backNebula' | translate }}</button>
      <div class="navbar__info">
        <div class="text-dark">
          <strong>{{ userName }}</strong>
        </div>
        <div class="text-secondary">
          {{ userCompany }}
        </div>
      </div>
      <div class="navbar__img ms-2">
        <img [src]="urlUser" />
      </div>
      <app-dropdown [dropDownList]="dropDownList" (dropDownActions)="actions($event)"></app-dropdown>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  </div>
</nav>
