.container{
  color: white;
  background-color: black;
  height: 40vh;
  & > a{
    color:red;
    text-decoration: none;
    padding: 1rem;
  }
  & >a:hover{
    color: white;
  }
  & .green{
    color:green !important;
  }
}

span{
  color: red;
  font-size: 20px
}



