<div class="btn-group">
  <button (click)="showHide()" class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="dropdown-menu" [class.show]="show" [@showHideStatus]="show">
    <li *ngFor="let item of dropDownList">
      <a class="dropdown-item" (click)="action(item.name)">{{ item.label | translate }}</a>
    </li>
  </ul>
</div>

